In [1]:
#Dependencies
import pandas as pd
import numpy as np
import json
import pprint as pprint
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
base = declarative_base()

In [2]:
engine= create_engine("mysql://root:Camgirl123@127.0.0.1/etl_project_db")
base.metadata.create_all(engine)

/Users/MonishaJain/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

In [3]:
#Import first data source- LINKS SMALL
links_file = "../ETL_Project_original_Data/links_small.csv"
links_df = pd.read_csv(links_file)

#links_df
#links_df.dtypes
#links_df.columns

In [4]:
#Import second data source- RATINGS 
ratings_file = "../ETL_Project_original_Data/ratings_small.csv"
ratings_df = pd.read_csv(ratings_file)

#ratings_df.dtypes

In [5]:
#Import 3rd data source- MOVIE METADATA 
movie_meta_file = "../ETL_Project_original_Data/movies_metadata.csv"
movie_meta_df = pd.read_csv(movie_meta_file)

/Users/MonishaJain/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:

movie_meta_df['imdbId']=pd.Series(movie_meta_df['imdb_id'].str[3: ],index=movie_meta_df.index, dtype=None)

#Reduce columns to valuable to task
movie_meta_df_revised=movie_meta_df[["title","genres","vote_count","vote_average","imdbId","overview",\
                                            "release_date","budget","revenue", "id","adult","spoken_languages",
                                            "original_language"]]


#movie_meta_df_revised.dtypes
movie_meta_df_revised.head()

,title,genres,vote_count,vote_average,imdbId,overview,release_date,budget,revenue,id,adult,spoken_languages,original_language
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",5415.0,7.7,114709,"Led by Woody, Andy's toys live happily in his ...",1995-10-30,30000000,373554033.0,862,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",2413.0,6.9,113497,When siblings Judy and Peter discover an encha...,1995-12-15,65000000,262797249.0,8844,False,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",en
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",92.0,6.5,113228,A family wedding reignites the ancient feud be...,1995-12-22,0,0.0,15602,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",34.0,6.1,114885,"Cheated on, mistreated and stepped on, the wom...",1995-12-22,16000000,81452156.0,31357,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",173.0,5.7,113041,Just when George Banks has recovered from his ...,1995-02-10,0,76578911.0,11862,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en

In [7]:
links_ratings_merge = pd.merge(links_df,ratings_df,on ="movieId")
movie_data = links_ratings_merge.drop('timestamp',1)
movie_data

        movieId   imdbId    tmdbId  userId  rating
0             1   114709     862.0       7     3.0
1             1   114709     862.0       9     4.0
2             1   114709     862.0      13     5.0
3             1   114709     862.0      15     2.0
4             1   114709     862.0      19     3.0
5             1   114709     862.0      20     3.5
6             1   114709     862.0      23     3.0
7             1   114709     862.0      26     5.0
8             1   114709     862.0      30     4.0
9             1   114709     862.0      37     4.0
10            1   114709     862.0      43     4.0
11            1   114709     862.0      44     4.0
12            1   114709     862.0      47     5.0
13            1   114709     862.0      48     4.0
14            1   114709     862.0      55     3.0
15            1   114709     862.0      56     4.0
16            1   114709     862.0      63     5.0
17            1   114709     862.0      67     3.0
18            1   114709     862.0      68     4.0
19            1   114709     862.0      69     5.0
20            1   114709     862.0      70     5.0
21            1   114709     862.0      72     3.5
22            1   114709     862.0      73     5.0
23            1   114709     862.0      75     3.0
24            1   114709     862.0      77     4.0
25            1   114709     862.0      79     2.0
26            1   114709     862.0      84     3.5
27            1   114709     862.0      86     3.0
28            1   114709     862.0      87     3.0
29            1   114709     862.0      89     5.0
...         ...      ...       ...     ...     ...
99974    159093  3110958  291805.0      15     1.0
99975    159093  3110958  291805.0     277     3.0
99976    159462   155350   26677.0      73     3.0
99977    159690  3949660  308531.0      15     2.0
99978    159755  3960412  341012.0      15     1.0
99979    159858  3065204  259693.0      15     4.0
99980    159858  3065204  259693.0      73     3.5
99981    159972  2674430  328429.0      15     0.5
99982    160080  1289401   43074.0      15     1.0
99983    160271  1489889  302699.0      15     2.5
99984    160438  4196776  324668.0      62     4.0
99985    160438  4196776  324668.0     287     4.5
99986    160440  2263814  278348.0     624     1.5
99987    160563   918940  258489.0      15     1.0
99988    160563   918940  258489.0     287     4.0
99989    160565  4094724  316727.0      15     2.0
99990    160567  2823054  316023.0      15     4.0
99991    160590  2751904  177869.0      56     5.0
99992    160656  1639084  353571.0     547     3.5
99993    160718  5613056  399106.0     547     4.0
99994    161084  4465220  368620.0     547     2.5
99995    161155  5794766  401387.0      15     0.5
99996    161594  5595168  390734.0      73     3.0
99997    161830  3732950  314420.0     624     1.0
99998    161918  4831420  390989.0     624     1.5
99999    161944   255313  159550.0     287     5.0
100000   162376  4574334  410612.0      73     4.5
100001   162542  5165344  392572.0     611     5.0
100002   162672  3859980  402672.0     611     3.0
100003   163949  2531318  391698.0     547     5.0

[100004 rows x 5 columns]

In [8]:
from sqlalchemy.orm import Session
session = Session(bind = engine)

In [9]:
#Create Class (movie_meta) from Bases Class
class movie_meta (base):
    __tablename__ = 'movie_meta'
    imdbID= Column(Integer, primary_key=True)
    genres= Column(String(255))
    Vote_count= Column(Integer)
    Vote_average= Column(Integer)
    overview= Column(String(255))
    release_date = Column(String(255))
    budget= Column(Integer)
    revenue= Column(Integer)
    

class movie_merge (base):
    __tablename__ = 'movie_data'
    movieId = Column(Integer, primary_key=True)
    imdbId = Column(Integer)
    tmdbId = Column(Integer)
    userId = Column(Integer)
    rating= Column(Integer)

In [10]:
base.metadata.drop_all(engine)

movie_data.to_sql("movie_data",engine)

In [11]:
movie_meta_df_revised.to_sql("movie_meta",engine)