In [17]:
#Dependencies
import pandas as pd
import numpy as np
import json
import pprint as pprint
import sqlalchemy

In [2]:
#Import first data source- LINKS SMALL
links_file = "../ETL_Project_original_Data/links_small.csv"
links_df = pd.read_csv(links_file)

#links_df
#links_df.dtypes
#links_df.columns

In [3]:
#Import second data source- RATINGS 
ratings_file = "../ETL_Project_original_Data/ratings_small.csv"
ratings_df = pd.read_csv(ratings_file)

#ratings_df.dtypes

In [4]:
#JOIN 1: Link with ratings
## Chose to merge these two tables first because of size and easy to connect with movieID
links_ratings_merge = pd.merge(links_df,ratings_df,on ="movieId")

#links_ratings_merge
#links_ratings_merge.dtypes
#links_ratings_merge.columns
#links_ratings_merge

movieId        int64
imdbId         int64
tmdbId       float64
userId         int64
rating       float64
timestamp      int64
dtype: object

In [5]:
#Import 3rd data source- MOVIE METADATA 
movie_meta_file = "../ETL_Project_original_Data/movies_metadata.csv"
movie_meta_df = pd.read_csv(movie_meta_file)

C:\Users\Craig\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [68]:
#Reduce columns to valuable to task
movie_meta_df_revised=movie_meta_df[["title","genres","vote_count","vote_average","imdb_id","overview",\
                                            "release_date","budget","revenue", "id","adult","spoken_languages",
                                            "original_language"]]


#movie_meta_df_revised.dtypes
movie_meta_df_revised

,title,genres,vote_count,vote_average,imdb_id,overview,release_date,budget,revenue,id,adult,spoken_languages,original_language
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",5415.0,7.7,tt0114709,"Led by Woody, Andy's toys live happily in his ...",1995-10-30,30000000,373554033.0,862,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",2413.0,6.9,tt0113497,When siblings Judy and Peter discover an encha...,1995-12-15,65000000,262797249.0,8844,False,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",en
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",92.0,6.5,tt0113228,A family wedding reignites the ancient feud be...,1995-12-22,0,0.0,15602,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",34.0,6.1,tt0114885,"Cheated on, mistreated and stepped on, the wom...",1995-12-22,16000000,81452156.0,31357,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",173.0,5.7,tt0113041,Just when George Banks has recovered from his ...,1995-02-10,0,76578911.0,11862,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
5,Heat,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",1886.0,7.7,tt0113277,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,60000000,187436818.0,949,False,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",en
6,Sabrina,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",141.0,6.2,tt0114319,An ugly duckling having undergone a remarkable...,1995-12-15,58000000,0.0,11860,False,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",en
7,Tom and Huck,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",45.0,5.4,tt0112302,"A mischievous young boy, Tom Sawyer, witnesses...",1995-12-22,0,0.0,45325,False,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",en
8,Sudden Death,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",174.0,5.5,tt0114576,International action superstar Jean Claude Van...,1995-12-22,35000000,64350171.0,9091,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
9,GoldenEye,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",1194.0,6.6,tt0113189,James Bond must unmask the mysterious head of ...,1995-11-16,58000000,352194034.0,710,False,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",en
10,The American President,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",199.0,6.5,tt0112346,"Widowed U.S. president Andrew Shepherd, one of...",1995-11-17,62000000,107879496.0,9087,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
11,Dracula: Dead and Loving It,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",210.0,5.7,tt0112896,When a lawyer shows up at the vampire's doorst...,1995-12-22,0,0.0,12110,False,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",en
12,Balto,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",423.0,7.1,tt0112453,An outcast half-wolf risks his life to prevent...,1995-12-22,0,11348324.0,21032,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
13,Nixon,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",72.0,7.1,tt0113987,An all-star cast powers this epic look at Amer...,1995-12-22,44000000,13681765.0,10858,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
14,Cutthroat Island,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",137.0,5.7,tt0112760,"Morgan Adams and her slave, William Shaw, are ...",1995-12-22,98000000,10017322.0,1408,False,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",en
15,Casino,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1343.0,7.8,tt0112641,The life of the gambling paradise ‚Äì Las Vegas ...,1995-11-22,52000000,116112375.0,524,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
16,Sense and Sensibility,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",364.0,7.2,tt0114388,"Rich Mr. Dashwood dies, leaving his second wif...",1995-12-13,16500000,135000000.0,4584,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
17,Four Rooms,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",539.0,6.5,tt0113101,It's Ted the Bellhop's first night on the job....,1995-12-09,4000000,4300000.0,5,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
18,Ace Ventura: When Nature Calls,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",1128.0,6.1,tt0112281,"Summoned from an ashram in Tibet, Ace finds hi...",1995-11-10,30000000,212385533.0,9273,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
19,Money Train,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",224.0,5.4,tt0113845,A vengeful New York transit cop decides to ste...,1995-11-21,60000000,35431113.0,11517,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
20,Get Shorty,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",305.0,6.4,tt0113161,Chili Palmer is a Miami mobster who gets sent ...,1995-10-20,30250000,115101622.0,8012,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
21,Copycat,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",199.0,6.5,tt0112722,An agoraphobic psychologist and a female detec...,1995-10-27,0,0.0,1710,False,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",en
22,Assassins,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",394.0,6.0,tt0112401,Assassin Robert Rath arrives at a funeral to k...,1995-10-06,50000000,30303072.0,9691,False,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",en
23,Powder,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",143.0,6.3,tt0114168,Harassed by classmates who won't accept his sh...,1995-10-27,0,0.0,12665,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
24,Leaving Las Vegas,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",365.0,7.1,tt0113627,"Ben Sanderson, an alcoholic Hollywood screenwr...",1995-10-27,3600000,49800000.0,451,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
25,Othello,"[{'id': 18, 'name': 'Drama'}]",33.0,7.0,tt0114057,The evil Iago pretends to be friend of Othello...,1995-12-15,0,0.0,16420,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
26,Now and Then,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",91.0,6.6,tt0114011,Waxing nostalgic about the bittersweet passage...,1995-10-20,12000000,27400000.0,9263,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
27,Persuasion,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",36.0,7.4,tt0114117,This film adaptation of Jane Austen's last nov...,1995-09-27,0,0.0,17015,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
28,The City of Lost Children,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",308.0,7.6,tt0112682,A scientist in a surrealist society kidnaps ch...,1995-05-16,18000000,1738611.0,902,False,"[{'iso_639_1': 'cn', 'name': 'ÂπøÂ∑ûËØù / Âª£Â∑ûË©±'}, {'i...",fr
29,Shanghai Triad,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",17.0,6.5,tt0115012,A provincial boy related to a Shanghai crime f...,1995-04-30,0,0.0,37557,False,"[{'iso_639_1': 'zh', 'name': 'ÊôÆÈÄöËØù'}]",zh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,The Final Storm,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",11.0,3.7,tt1331329,A stranger named Silas flees from a devastatin...,2010-01-01,0,0.0,45527,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45437,In a Heartbeat,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",146.0,8.3,tt6969946,A closeted boy runs the risk of being outed by...,2017-06-01,0,0.0,455661,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45438,"Blood, Sweat and Tears","[{'id': 18, 'name': 'Drama'}]",11.0,6.8,tt3814486,"Bloed, Zweet en Tranen (Blood, Sweat and Tears...",2015-04-02,0,0.0,327237,False,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",nl
45439,Jungle Woman,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",2.0,5.8,tt0036975,Paula the ape woman (Acquanetta) is alive and ...,1944-06-01,0,0.0,84710,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45440,To Be Fat Like Me,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",12.0,5.0,tt0889600,"Pretty, popular, and slim high-schooler Aly Sc...",2007-01-08,0,0.0,39562,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45441,Cadet Kelly,"[{'id': 35, 'name': 'Comedy'}]",145.0,5.2,tt0294425,Hyperactive teenager Kelly is enrolled into a ...,2002-03-07,0,0.0,14008,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45442,The Scheming Gambler's Paradise,[],3.0,5.0,tt0135690,A combination gambling den and bawdy house is ...,1905-01-01,0,0.0,44330,False,[],en
45443,The Man with the Rubber Head,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",29.0,7.6,tt0000359,A chemist in his laboratory places upon a tabl...,1901-01-01,0,0.0,49279,False,[],fr
45444,The Living Playing Cards,"[{'id': 14, 'name': 'Fantasy'}]",8.0,6.1,tt0135179,A bearded magician holds up a large playing ca...,1905-01-01,0,0.0,44333,False,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",fr
45445,The Hilarious Posters,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",2.0,4.5,tt0135122,A wall full of advertising posters comes to life.,1906-01-01,0,0.0,49277,False,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",en
45446,The Devilish Tenant,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",12.0,6.7,tt0127948,A man rents an apartment and furnishes it in r...,1909-01-01,0,0.0,49271,False,[],en
45447,The Untameable Whiskers,[],6.0,6.0,tt0135631,The background of this picture represents a sc...,1904-03-05,0,0.0,44324,False,[],fr
45448,The Imperceptable Transmutations,[],2.0,5.0,tt0224286,This shows a prince entering upon the stage of...,1904-01-01,0,0.0,122036,False,[],fr
45449,Pooh's Heffalump Halloween Movie,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",7.0,5.4,tt0457437,"It's Halloween in the 100 Acre Wood, and Roo's...",2005-09-13,0,0.0,14885,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45450,The One-Man Band,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",22.0,6.5,tt0135453,A band-leader has arranged seven chairs for th...,1900-01-01,0,0.0,49280,False,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",fr
45451,The Fat and Lean Wrestling Match,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",6.0,6.5,tt0135571,A series of fantastical wrestling matches.,1900-01-01,0,0.0,106807,False,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",fr
45452,Deep Hearts,"[{'id': 99, 'name': 'Documentary'}]",0.0,0.0,tt3054038,"Deep Hearts is a film about the Bororo Fulani,...",1981-01-01,0,0.0,276895,False,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",en
45453,Mom,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",14.0,6.6,tt5690142,The bliss of a biology teacher‚Äôs family life i...,2017-07-07,0,0.0,404604,False,"[{'iso_639_1': 'hi', 'name': '‡§π‡§ø‡§®‡•ç‡§¶‡•Ä'}]",hi
45454,The Morning After,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",2.0,4.0,tt4130180,The Morning After is a feature film that consi...,2015-01-11,0,0.0,420346,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45455,St. Michael Had a Rooster,[],3.0,6.0,tt0069215,Sentenced to life imprisonment for illegal act...,1972-01-01,0,0.0,67179,False,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",it
45456,House of Horrors,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",8.0,6.3,tt0038621,An unsuccessful sculptor saves a madman named ...,1946-03-29,0,0.0,84419,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45457,Shadow of the Blair Witch,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",2.0,7.0,tt0265736,"In this true-crime documentary, we delve into ...",2000-10-22,0,0.0,390959,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45458,The Burkittsville 7,"[{'id': 27, 'name': 'Horror'}]",1.0,7.0,tt0252966,A film archivist revisits the story of Rustin ...,2000-10-03,0,0.0,289923,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45459,Caged Heat 3000,"[{'id': 878, 'name': 'Science Fiction'}]",1.0,3.5,tt0112613,It's the year 3000 AD. The world's most danger...,1995-01-01,0,0.0,222848,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45460,Robin Hood,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",26.0,5.7,tt0102797,"Yet another version of the classic epic, with ...",1991-05-13,0,0.0,30840,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45461,Subdue,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",1.0,4.0,tt6209470,Rising and falling between a man and woman.,NaN,0,0.0,439050,False,"[{'iso_639_1': 'fa', 'name': 'ŸÅÿßÿ±ÿ≥€å'}]",fa
45462,Century of Birthing,"[{'id': 18, 'name': 'Drama'}]",3.0,9.0,tt2028550,An artist struggles to finish his work while a...,2011-11-17,0,0.0,111109,False,"[{'iso_639_1': 'tl', 'name': ''}]",tl
45463,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",6.0,3.8,tt0303758,"When one of her hits goes wrong, a professiona...",2003-08-01,0,0.0,67758,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en
45464,Satan Triumphant,[],0.0,0.0,tt0008536,"In a small town live two brothers, one a minis...",1917-10-21,0,0.0,227506,False,[],en
45465,Queerama,[],0.0,0.0,tt6980792,50 years after decriminalisation of homosexual...,2017-06-09,0,0.0,461257,False,"[{'iso_639_1': 'en', 'name': 'English'}]",en

In [70]:
#imdb_id_copy=movie_meta_df['imdb_id'].str[3: ].copy
#imdb_id_ds=pd.DataSeries(imdb_id_copy)

movie_meta_df['imdbId']=pd.Series(movie_meta_df['imdb_id'].str[3: ],index=movie_meta_df.index, dtype=None)

#movie_meta_df.dtypes
movie_meta_df.head()
movie_meta_df.dtypes
#movie_meta_df.columns

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
imdbId                    object
dtype: object

In [74]:
movie_meta_df_revised=movie_meta_df.convert_objects(convert_numeric=True)
#movie_meta_df_revised=movie_meta_df.convert_objects(convert_numeric=True)

movie_meta_df_revised.dtypes

C:\Users\Craig\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

adult                     object
belongs_to_collection    float64
budget                   float64
genres                    object
homepage                  object
id                       float64
imdb_id                  float64
original_language        float64
original_title           float64
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries     float64
release_date             float64
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                  float64
title                    float64
video                    float64
vote_average             float64
vote_count               float64
imdbId                   float64
dtype: object

In [75]:
#Merge links_ratings_merge with 
complete_date_merge = pd.merge(links_ratings_merge,movie_meta_df_revised,on ="imdbId")
complete_date_merge

,movieId,imdbId,tmdbId,userId,rating,timestamp,adult,belongs_to_collection,budget,genres,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,1,114709,862.0,7,3.0,851866703,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
1,1,114709,862.0,9,4.0,938629179,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
2,1,114709,862.0,13,5.0,1331380058,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
3,1,114709,862.0,15,2.0,997938310,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
4,1,114709,862.0,19,3.0,855190091,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
5,1,114709,862.0,20,3.5,1238729767,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
6,1,114709,862.0,23,3.0,1148729853,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
7,1,114709,862.0,26,5.0,1360087980,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
8,1,114709,862.0,30,4.0,944943070,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
9,1,114709,862.0,37,4.0,981308121,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
10,1,114709,862.0,43,4.0,974768260,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
11,1,114709,862.0,44,4.0,858707138,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
12,1,114709,862.0,47,5.0,832228931,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
13,1,114709,862.0,48,4.0,1318796720,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
14,1,114709,862.0,55,3.0,855926941,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
15,1,114709,862.0,56,4.0,1467004817,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
16,1,114709,862.0,63,5.0,1079098216,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
17,1,114709,862.0,67,3.0,854711770,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
18,1,114709,862.0,68,4.0,1194741818,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
19,1,114709,862.0,69,5.0,1366831110,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
20,1,114709,862.0,70,5.0,853954235,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
21,1,114709,862.0,72,3.5,1461778737,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
22,1,114709,862.0,73,5.0,1303464840,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
23,1,114709,862.0,75,3.0,1165607201,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
24,1,114709,862.0,77,4.0,1163005363,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
25,1,114709,862.0,79,2.0,1182994648,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
26,1,114709,862.0,84,3.5,1429910800,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
27,1,114709,862.0,86,3.0,848161799,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
28,1,114709,862.0,87,3.0,858623186,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
29,1,114709,862.0,89,5.0,1257620018,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.7,5415.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96074,136445,246641,34509.0,519,5.0,1471686897,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",...,NaN,0.0,63.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.8,12.0
96075,136447,246645,34513.0,519,5.0,1471686728,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",...,NaN,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,8.0,14.0
96076,136592,113112,196257.0,200,1.5,1438020227,False,NaN,0.0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 35,...",...,NaN,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.2,11.0
96077,137403,259017,102016.0,652,3.5,1442082603,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",...,NaN,0.0,105.0,[],Released,NaN,NaN,0.0,0.0,0.0
96078,139130,465316,62931.0,73,4.0,1437711245,False,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",...,NaN,0.0,125.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.3,63.0
96079,139620,263438,81549.0,270,4.0,1469278481,False,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",...,NaN,0.0,107.0,"[{'iso_639_1': 'tr', 'name': 'T√ºrk√ße'}]",Released,NaN,NaN,0.0,8.0,11.0
96080,140265,246643,25161.0,519,5.0,1471686899,False,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}, {'id': 35,...",...,NaN,0.0,59.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,7.8,12.0
96081,140739,419722,41423.0,652,5.0,1439585580,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",...,NaN,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,3.3,3.0
96082,140741,218298,41636.0,652,5.0,1439585771,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",...,NaN,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.6,5.0
96083,140743,173906,19654.0,652,5.0,1439586481,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",...,NaN,0.0,87.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}]",Released,NaN,NaN,0.0,5.5,9.0
96084,140745,312297,19828.0,652,5.0,1439586605,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",...,NaN,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,3.0,2.0
96085,140749,455299,23427.0,652,5.0,1439586708,False,NaN,25000.0,"[{'id': 35, 'name': 'Comedy'}]",...,NaN,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.0,2.0
96086,140751,466669,32633.0,652,5.0,1439586931,False,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",...,NaN,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.3,8.0
96087,140755,494253,77583.0,652,5.0,1439587113,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,NaN,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.8,4.0
96088,140761,300996,29063.0,652,5.0,1439587262,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,NaN,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,6.0,1.0
96089,140880,838192,60850.0,652,4.0,1440029031,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10769, '...",...,NaN,1101480.0,105.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,NaN,0.0,6.6,8.0
96090,141124,396587,37091.0,652,5.0,1440273477,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",...,NaN,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.3,4.0
96091,141749,810819,306819.0,547,4.0,1468077724,False,NaN,15000000.0,"[{'id': 18, 'name': 'Drama'}]",...,NaN,64191523.0,120.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,NaN,0.0,7.4,1689.0
96092,141886,116729,5900.0,450,5.0,1475737051,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",...,NaN,0.0,103.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,NaN,NaN,0.0,7.0,3.0
96093,142192,48064,65014.0,547,3.5,1442199101,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",...,NaN,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.3,6.0
96094,143859,475290,270487.0,655,3.0,1470075909,False,NaN,22000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",...,NaN,63647656.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.7,1338.0
96095,145307,102996,45147.0,457,2.5,1471388180,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,NaN,7683267.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.6,7.0
96096,147037,367097,92326.0,652,5.0,1447808622,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",...,NaN,0.0,96.0,[],Released,NaN,NaN,0.0,5.4,5.0
96097,152057,790770,316000.0,15,0.5,1465793700,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",...,NaN,3460466.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,6.7,74.0
96098,152173,88263,92060.0,262,3.0,1466556504,False,NaN,1100000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 10402, '...",...,NaN,0.0,13.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,8.1,90.0
96099,152844,165473,104548.0,73,4.0,1476080611,False,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 10769, '...",...,NaN,0.0,135.0,"[{'iso_639_1': 'ja', 'name': 'Êó•Êú¨Ë™û'}]",Released,NaN,NaN,0.0,8.6,11.0
96100,159462,155350,26677.0,73,3.0,1469772608,False,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",...,NaN,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.0,20.0
96101,160563,918940,258489.0,15,1.0,1469330270,False,NaN,180000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,NaN,356743061.0,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.5,2488.0
96102,160563,918940,258489.0,287,4.0,1469161444,False,NaN,180000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,NaN,356743061.0,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,NaN,0.0,5.5,2488.0
96103,161944,255313,159550.0,287,5.0,1470167824,False,NaN,8000000.0,"[{'id': 18, 'name': 'Drama'}]",...,NaN,0.0,85.0,[],Released,NaN,NaN,0.0,7.0,1.0

In [79]:
complete_date_merge_title=complete_date_merge.set_index('title')
#Compare Columns before MERGING
complete_date_merge_title
#movie_meta_df_revised.columns

,movieId,imdbId,tmdbId,userId,rating,timestamp,adult,belongs_to_collection,budget,genres,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count
title,,,,,,,,,,,,,,,,,,,,,
NaN,1,114709,862.0,7,3.0,851866703,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,9,4.0,938629179,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,13,5.0,1331380058,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,15,2.0,997938310,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,19,3.0,855190091,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,20,3.5,1238729767,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,23,3.0,1148729853,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,26,5.0,1360087980,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,30,4.0,944943070,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,37,4.0,981308121,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,43,4.0,974768260,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,44,4.0,858707138,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,47,5.0,832228931,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,48,4.0,1318796720,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,55,3.0,855926941,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,56,4.0,1467004817,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,63,5.0,1079098216,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,67,3.0,854711770,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,68,4.0,1194741818,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,69,5.0,1366831110,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,70,5.0,853954235,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,72,3.5,1461778737,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,73,5.0,1303464840,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,75,3.0,1165607201,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,77,4.0,1163005363,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,79,2.0,1182994648,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,84,3.5,1429910800,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,86,3.0,848161799,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,87,3.0,858623186,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
NaN,1,114709,862.0,89,5.0,1257620018,False,NaN,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",...,NaN,NaN,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.7,5415.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,136445,246641,34509.0,519,5.0,1471686897,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",...,NaN,NaN,0.0,63.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.8,12.0
NaN,136447,246645,34513.0,519,5.0,1471686728,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",...,NaN,NaN,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,8.0,14.0
NaN,136592,113112,196257.0,200,1.5,1438020227,False,NaN,0.0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 35,...",...,NaN,NaN,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.2,11.0
NaN,137403,259017,102016.0,652,3.5,1442082603,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",...,NaN,NaN,0.0,105.0,[],Released,NaN,0.0,0.0,0.0
NaN,139130,465316,62931.0,73,4.0,1437711245,False,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",...,NaN,NaN,0.0,125.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.3,63.0
NaN,139620,263438,81549.0,270,4.0,1469278481,False,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",...,NaN,NaN,0.0,107.0,"[{'iso_639_1': 'tr', 'name': 'T√ºrk√ße'}]",Released,NaN,0.0,8.0,11.0
NaN,140265,246643,25161.0,519,5.0,1471686899,False,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}, {'id': 35,...",...,NaN,NaN,0.0,59.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,7.8,12.0
NaN,140739,419722,41423.0,652,5.0,1439585580,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",...,NaN,NaN,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,3.3,3.0
NaN,140741,218298,41636.0,652,5.0,1439585771,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",...,NaN,NaN,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.6,5.0
NaN,140743,173906,19654.0,652,5.0,1439586481,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",...,NaN,NaN,0.0,87.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}]",Released,NaN,0.0,5.5,9.0
NaN,140745,312297,19828.0,652,5.0,1439586605,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",...,NaN,NaN,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,3.0,2.0
NaN,140749,455299,23427.0,652,5.0,1439586708,False,NaN,25000.0,"[{'id': 35, 'name': 'Comedy'}]",...,NaN,NaN,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.0,2.0
NaN,140751,466669,32633.0,652,5.0,1439586931,False,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",...,NaN,NaN,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.3,8.0
NaN,140755,494253,77583.0,652,5.0,1439587113,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,NaN,NaN,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.8,4.0
NaN,140761,300996,29063.0,652,5.0,1439587262,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,NaN,NaN,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,6.0,1.0
NaN,140880,838192,60850.0,652,4.0,1440029031,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10769, '...",...,NaN,NaN,1101480.0,105.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,0.0,6.6,8.0
NaN,141124,396587,37091.0,652,5.0,1440273477,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",...,NaN,NaN,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.3,4.0
NaN,141749,810819,306819.0,547,4.0,1468077724,False,NaN,15000000.0,"[{'id': 18, 'name': 'Drama'}]",...,NaN,NaN,64191523.0,120.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,0.0,7.4,1689.0
NaN,141886,116729,5900.0,450,5.0,1475737051,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",...,NaN,NaN,0.0,103.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,NaN,0.0,7.0,3.0
NaN,142192,48064,65014.0,547,3.5,1442199101,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",...,NaN,NaN,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.3,6.0
NaN,143859,475290,270487.0,655,3.0,1470075909,False,NaN,22000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",...,NaN,NaN,63647656.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.7,1338.0
NaN,145307,102996,45147.0,457,2.5,1471388180,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,NaN,NaN,7683267.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.6,7.0
NaN,147037,367097,92326.0,652,5.0,1447808622,False,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",...,NaN,NaN,0.0,96.0,[],Released,NaN,0.0,5.4,5.0
NaN,152057,790770,316000.0,15,0.5,1465793700,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",...,NaN,NaN,3460466.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,6.7,74.0
NaN,152173,88263,92060.0,262,3.0,1466556504,False,NaN,1100000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 10402, '...",...,NaN,NaN,0.0,13.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,8.1,90.0
NaN,152844,165473,104548.0,73,4.0,1476080611,False,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 10769, '...",...,NaN,NaN,0.0,135.0,"[{'iso_639_1': 'ja', 'name': 'Êó•Êú¨Ë™û'}]",Released,NaN,0.0,8.6,11.0
NaN,159462,155350,26677.0,73,3.0,1469772608,False,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",...,NaN,NaN,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.0,20.0
NaN,160563,918940,258489.0,15,1.0,1469330270,False,NaN,180000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,NaN,NaN,356743061.0,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.5,2488.0
NaN,160563,918940,258489.0,287,4.0,1469161444,False,NaN,180000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,NaN,NaN,356743061.0,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,0.0,5.5,2488.0
NaN,161944,255313,159550.0,287,5.0,1470167824,False,NaN,8000000.0,"[{'id': 18, 'name': 'Drama'}]",...,NaN,NaN,0.0,85.0,[],Released,NaN,0.0,7.0,1.0